// Fonts
$primary-font: "Manrope", sans-serif;
$secondary-font: "Rubik", sans-serif;

// Colors
$white-color: #ffffff;
$gray-color: #ececec;
$gray-dark-color: #ececec;
$gray-very-dark-color: #404040;

$purple-1-color: #5e24c7;
$purple-2-color: #7d3cf5;
$purple-3-color: #a578f7;
$purple-4-color: #bb96fe;
$purple-5-color: #e9deff;

$orange-color: #ff8544;
$light-orange-color: #ffa97c;
$light-orange-2-color: #ffebe1;
